<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    {% stylesheets filter='less,cssrewrite'
       '@MopaBootstrapBundle/Resources/public/less/mopabootstrapbundle.less'
       '@JimdoJimKanWallViewBoardBundle/Resources/public/less/ticket.less'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
    
    </head>
    <body>
        <div id="content">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>