<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <style type="text/css">
            .info {
             margin-bottom: 10px;
            }
            .column {
                float: left;
                margin-right: 3px;
                border-left-style: dotted;
                border-color: black;
                border--left-width: 2px;
            }
            .ticket {
                border-style: dotted;
                border-color: black;
                border-width:1px;
                margin: 2px 2px 2px 2px;
        </style>

    </head>
    <body>
        <div id="content">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>