{% extends 'JimdoJimFlowEditBoardBundle::layout.html.twig' %}

{% block body %}

<h1>Available Boards:</h1>

<div id="menu">
    <div class="action">
        <a class="button gray right" href="{{ path('manage_board') }}">Manage boards</a>
    </div>
    <div style="clear: both;"></div>
</div>

{% for board in boards %}
    <p><a class="boardListEntry" href="{{ url('board_detail', { 'boardId': board.id }) }}">{{ board.name }}</a></p>
{% endfor %}

{% endblock %}