<html>
    <head>
        <style>
            body, th, td {
                font: normal 13px Verdana,Arial,'Bitstream Vera Sans',Helvetica,sans-serif;
                background: #FFD;
            }

            .description h3 {
                border-bottom: 1px solid #DD9;
                color: #663;
                font-size: 100%;
                font-weight: normal;
            }
            table.properties {
                border-collapse: collapse;
                table-layout: fixed;
                width: 100%;
            }

            table.properties th,td {
                font-size: .7em;
                font-weight: normal;
                text-align: left;
            }

            table.properties th {
                color: #663;
            }

        </style>
    </head>

</html>

<div class="description">
    <h3 id="comment:description">Kanban Walls</h3>


<table class="properties">
            <tbody>
            {% for board,column in tickets %}
            <tr>
                <th>
                  Team:
                </th>
                <td>
                  {{ board }}
                </td>
                <th>
                  Status:
                </th>
                <td>
                  {{ column }}
                </td>
            </tr>
            {% endfor %}
          </tbody></table>


</div>