<div class="description">
    <h3 id="comment:description">Kanban Walls</h3>

<table class="properties">
            <tbody>
            {% for board,column in tickets %}
            <tr>
                <th>
                  Team:
                </th>
                <td>
                  {{ board }}
                </td>
                <th>
                  Status:
                </th>
                <td>
                  {{ column }}
                </td>
            </tr>
            {% endfor %}
          </tbody></table>
</div>